<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dIHookConfiguration" type="dIHook.Configuration.dIHookConfigurationSection, dI.Hook"/>
  </configSections>
  <dIHookConfiguration>
    <repositories>
      <repository name="default" enabled="true">
        <hooks>
          <hook name="h1" type="dIHook.UnitTests.Hooks.LogHook, dI.Hook.UnitTests" />
          <hook name="h2" type="dIHook.UnitTests.Hooks.DiagnosticsHook, dI.Hook.UnitTests" />
        </hooks>
      </repository>
      <repository name="productionRepository" enabled="true">
        <hooks>
          <hook name="h2" type="dIHook.UnitTests.Hooks.DiagnosticsHook, dI.Hook.UnitTests" />
        </hooks>
      </repository>
      <repository name="productionRepositoryDisabled" enabled="false">
        <hooks>
          <hook name="h2" type="dIHook.UnitTests.Hooks.DiagnosticsHook, dI.Hook.UnitTests" />
        </hooks>
      </repository>
    </repositories>
  </dIHookConfiguration>
</configuration>